<div  id="bg" class="d-flex justify-content-center align-items-center">
  <div id="resetPassword_container">
    <div style="margin-top:20px">
      <img (click)="back();" class="backArrowIcon" src="../../assets/Icons/back_BlackArrow.svg">
    </div>
    <div style="padding:10px" class="row">
      <div class="col-md-6">
        <img style="width:100%" src="../../assets/Images/film.jpg">
      </div>
      <div style="padding-top:50px" class="col-md-6 ">
        <h2>Resetta la tua password</h2>
        <div [@fadeIn] *ngIf="token == undefined">
          <p style="color:#1c1c1c; font-size:1rem;">Inserisci l'email del tuo account. In seguito ti invieremo un link per resettare la tua password<p>
            <form (ngSubmit)="submit()" [formGroup]="resetForm">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" type="text" id="email" matInput>
                <mat-error *ngIf="resetForm.controls.email.errors && resetForm.controls.email.errors.required">Inserisci un'email</mat-error>
                <mat-error *ngIf="resetForm.controls.email.errors && resetForm.controls.email.errors.email">Inserisci un'email valida</mat-error>
              </mat-form-field>
              <button [disabled]="!resetForm.valid && success == false" class="submitButton d-flex" type="submit">Invia <mat-spinner *ngIf="loading" style="margin-left:10px" [diameter]="25"></mat-spinner></button>
              <p *ngIf="success" class="success">É stata inviata un'email presso l'indirizzo inserito precedentemente</p>
              <p class="error">{{error}}</p>
            </form>
          </div>
          <div [@fadeIn] *ngIf="token != undefined && verifyTokenLoading == false && tokenError == false">
            <form (ngSubmit)="submitNewPassword()" [formGroup]="resetPasswordForm">
              <mat-form-field style="margin-top:20px;">
                <mat-label>Nuova Password</mat-label>
                <input formControlName="newPassword" matInput [type]="passwordHide == true ? 'password' : 'text'" >
                <button  class="hide_button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide">
                  <mat-icon>{{passwordHide == true ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors && resetPasswordForm.controls.newPassword.errors.required">Devi inserire una password</mat-error>
                <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors && resetPasswordForm.controls.newPassword.errors.pattern">La password non è valida</mat-error>
              </mat-form-field>
              <mat-form-field style="margin-top:20px;">
                <mat-label>Ripeti nuova password</mat-label>
                <input formControlName="repeatPassword" matInput [type]="repeatPasswordHide == true ? 'password' : 'text'">
                <button  class="hide_button" mat-icon-button matSuffix (click)="repeatPasswordHide = !repeatPasswordHide">
                  <mat-icon>{{repeatPasswordHide == true ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.controls.repeatPassword.errors && resetPasswordForm.controls.repeatPassword.errors.required">Inserisci un valore</mat-error>
                <mat-error *ngIf="resetPasswordForm.controls.repeatPassword.errors && resetPasswordForm.controls.repeatPassword.errors.passwordRepeat">La password è differente</mat-error>
              </mat-form-field>
              <button type="submit" [disabled]="!resetPasswordForm.valid" class="submitButton">Aggiorna <mat-spinner *ngIf="loading" style="margin-left:10px" [diameter]="25"></mat-spinner></button>
              <p *ngIf="success" class="success">La password è stata cambiata!</p>
              <p class="error">{{error}}</p>
            </form>
          </div>
          <div *ngIf="tokenError">
            <p class="error">Ci dispiace, ma non siamo stati in grado di trovare la richiesta per il reset della password<p>
            </div>
            <div *ngIf="verifyTokenLoading" style="margin-top:30px" class="justify-content-center align-items-center">
              <mat-spinner  [diameter]="50"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
