#bg{min-height: 100vh; background-color: #070707;width: 100% !important}
#resetPassword_container{background-color: white; width: 800px; min-height: 340px; border-radius: 10px;margin-top: 90px; margin-bottom: 20px}
#resetPassword_container img{height: 360px; object-fit: cover;border-radius: 10px}
.links a{margin-right: 5px; text-decoration: none !important; color: black !important;transition: 0.5s; font-size: 1.2rem;}
#resetPassword_container h2{font-weight: 700;color: black; font-size: 3rem;margin-bottom: 10px}
input{width: 100%;}
.submitButton{border: 3px solid #273374; background-color: transparent; padding: 5px 40px 5px 40px; border-radius: 10px; border-radius: 10px;
  font-weight: 700;margin-top: 10px; transition: 0.5s;color: #273374; outline: none !important
}
.backArrowIcon{width:30px !important; height: 30px !important; margin-left: 20px; margin-bottom:20px; cursor: pointer; transition: 0.3s;}
.backArrowIcon:hover{transform: scale(1.2,1.2);}
.error{margin-top: 20px;color:#c22813}
.submitButton:hover{background-color: #273374;color: white}
.mat-form-field-underline{color: red !important}
.mat-form-field{width: 100% !important;margin-bottom: 5px; margin-top: 0px !important}
.mat-input-element .mat-form-field-label{color: red !important}
button[type=submit]{margin-top:20px}
button[type=submit]:disabled{opacity: 0.5;}
button[type=submit]:disabled:hover{background-color: transparent !important; color: #273374; cursor: not-allowed;}
:host ::ng-deep button[type=submit]:hover .mat-progress-spinner circle, .mat-spinner circle{stroke: white !important}
.mat-error{font-size: 1rem}
.success {margin-bottom: 2px !important; color: #26a307; margin-top: 20px}
.mat-spinner svg{width: 30px !important; height: 30px !important}
.hide_button{border:none !important;background: transparent !important; outline: none !important}
@media only screen and (max-width: 1000px) {
  #resetPassword_container{width: 500px;}
}
@media only screen and (max-width: 768px) {
  #bg{margin-top: 10px}
  #register_container{margin-top: 100px; width: 500px ;margin-bottom: 20px; border-radius: 10px !important}
  .row{padding: 40px !important; margin: 0px !important}
  #resetPassword_container img{height: 380px}
}
@media only screen and (max-width: 500px) {
  #resetPassword_container{ width: 100% !important ; border-radius: 0px !important; margin-top: 50px !important; margin-bottom: 0px !important}
}
