<div class="container-fluid bg d-flex align-items-center">
  <div style="padding-bottom:30px; min-height:100vh" class="container  ">
<div class="dashboard_welcome">
  <h1>Benvenuto nell'admin area!</h1>
  </div>
  <div class="content_section">
    <h2>Contenuti</h2>
    <div style="margin-top:50px" class="row">
      <div class="col-md-3 d-flex element">
        <a routerLink="/admin/film/create" class="d-flex align-items-center flex-column">
          <span class="icon_circle d-flex justify-content-center align-items-center">
            <img src="../../assets/Icons/clapperboard.svg">
          </span>
          <span class="text">Crea un nuovo film</span>
        </a>
      </div>
      <div class="col-md-3 d-flex element">
        <a routerLink="/admin/genre/create" class="d-flex align-items-center flex-column">
          <span class="icon_circle d-flex justify-content-center align-items-center">
            <img src="../../assets/Icons/genres_icon.svg">
          </span>
          <span class="text">Crea un nuovo genere</span>
        </a>
      </div>
      <div class="col-md-3 d-flex element">
        <a routerLink="/admin/review" class="d-flex align-items-center flex-column">
          <span class="icon_circle d-flex justify-content-center align-items-center">
            <img src="../../assets/Icons/comment.svg">
          </span>
          <span class="text">Gestisci le recensioni</span>
        </a>
      </div>
      <div class="col-md-3 d-flex element">
        <a routerLink="/admin/user" class="d-flex align-items-center flex-column">
          <span class="icon_circle d-flex justify-content-center align-items-center">
            <img src="../../assets/Icons/user_icon.svg">
          </span>
          <span class="text">Gestisci gli utenti</span>
        </a>
      </div>
    </div>
  </div>
  </div>
  </div>
